@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');  /* "Fjalla One" */
@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap'); /* "Montaga" */

/* VARIABLES DECLARATION HERE */
:root {
    --form-input-gap: 16px;
}

/* END OF VARIABLES DECLARATION */
/* Start of general settings (e.g., font-face, CSS's properties) */
* {
    margin: 0;
    padding: 0;
}

body {
    /* Prevent scrolling, means displayed content only the 100% screen */
    /* overflow: hidden; */

}

@font-face {
    font-family: "helvetica";
    src: 
        url(assets/fonts/freesans-webfont.woff2) format("woff2"),
        url(assets/fonts/freesans-webfont.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

/* End of general settings */
/* Start of styling */
.main-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 100dvh;
    max-width: 100%;
}

.image-container {
    background-image: url(./assets/img/lococop_Mostima.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex: 2.4;
}

.image-container .title-wrapper {
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 70dvh;
    padding: 16px 52px;
    width: inherit;
    display: flex;
    justify-self: center;
    align-items: center;
}

.image-container .title-wrapper img {
    width: 120px;
    margin-right: 8px;
}

.image-container .title-wrapper p {
    font: 3.8rem "Fjalla One";
    color: #fff;
    margin-top: 12px;
}

/* Form container styling */
.form-container {
    font-family: "Montaga", serif;
    margin: 16px 52px;
    display: flex;
    flex-direction: column;
    flex: 5;
}

.form-container p:first-child {
    font-size: 1.7rem;
    margin-bottom: 24px;
}

.form-container .end-heading {
    margin-bottom: 60px;
    font-size: 1.3rem;
}

.form-container .end-heading+h3 {
    margin-bottom: 8px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--form-input-gap);
}

.form-wrapper .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: var(--form-input-gap); */
}

.form-wrapper .input-wrapper {
    border: 1px solid green;
    flex: 1 1 0;
}

.form-wrapper .input-wrapper label {
    display: block;
}

.form-wrapper .input-wrapper input {
    box-sizing: border-box;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    min-width: 300px;
    width: 95%;
    /* width: max(300px, 25dvw); */
    /* height: ; */
    padding: 4px 8px;
}

.button-wrapper button {
    margin-top: var(--form-input-gap);
    padding: 8px 24px;
}

.form-container .login-hyperlink {
    margin-top: 24px;
}

.form-container > * {
    border: 2px solid red;
}