@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');  /* "Fjalla One" */
@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap'); /* "Montaga" */

/* VARIABLES DECLARATION HERE */
:root {
    --form-input-gap: 16px;
    --form-title-size: 1.3rem;
}

/* END OF VARIABLES DECLARATION */
/* Start of general settings (e.g., font-face, CSS's properties) */
* {
    margin: 0;
    padding: 0;
}

body {
    /* Prevent scrolling, means displayed content only the 100% screen */
    /* overflow: hidden; */
    font-family: "Montaga", sans-serif;
}

@font-face {
    font-family: "Helvetica";
    src: 
        url(assets/fonts/freesans-webfont.woff2) format("woff2"),
        url(assets/fonts/freesans-webfont.woff) format("woff");
    font-weight: bold;
    font-style: normal;
}

/* End of general settings */
/* Start of styling */
.main-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 100dvh;
    max-width: 100%;
}

.image-container {
    background-image: url(./assets/img/lococop_Mostima.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    flex: 2.4;
}

.image-container .title-wrapper {
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 70dvh;
    padding: 16px 52px;
    width: min(inherit, 100%);
    display: flex;
    justify-self: center;
    align-items: center;
}

.image-container .title-wrapper img {
    width: 120px;
    margin-right: 8px;
}

.image-container .title-wrapper p {
    font: 3.8rem "Fjalla One";
    color: #fff;
    margin-top: 12px;
}

/* .image-container .source-wrapper {
    position: absolute;
    bottom: 0;
}

.image-container .source-wrapper * {
    color: whitesmoke;
} */

/* Form container styling */
.form-container {
    font-family: "Montaga", serif;
    margin: 16px 52px;
    display: flex;
    flex-direction: column;
    flex: 5;
}

.form-container p:first-child {
    /* font-size: 1.7rem; */
    font-size: clamp(var(--form-title-size), 2.5dvw, 2rem);
    margin-bottom: 24px;
}

.form-container .end-heading {
    margin-bottom: 60px;
    /* font-size: 1.3rem; */
    font-size: clamp(var(--form-title-size), 1.8dvw, 1.7rem);
}

.form-container .end-heading+h3 {
    font-size: var(--form-title-size);
    margin-bottom: 8px;

}

.form-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* gap: var(--form-input-gap); */
}

.form-wrapper .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-wrapper .input-wrapper {
    /* border: 1px solid green; */
    flex: 1 1 0;
    margin-bottom: var(--form-input-gap);
}

.form-wrapper .input-wrapper label {
    display: block;
}

.form-wrapper .input-wrapper input {
    border: 1px solid #e5e7eb;
    box-sizing: border-box;
    border-radius: 4px;
    min-width: 300px;
    width: 80%;
    padding: 4px 8px;
}

.button-wrapper button {
    font: 1.3rem Arial, Helvetica, sans-serif;
    background-color: #344664;
    color: #e5e7eb;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
    margin-top: var(--form-input-gap);
}

.button-wrapper button:hover {
    background-color: #9eaab8;
    color: #262630;
}

.form-container .login-hyperlink {
    margin-top: 24px;
}
